body {
  background-color: #5f5f5fcc;
  background-image: url("/src/books.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
a {
  color: #632103e1;
}
a:hover {
  color: #a35d2fec;
}
a:visited {
  color: #3e4706b6;
}
.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.App-footer {
  font-size: 11px;
  opacity: 0.6;
  margin: 30px 0;
}
